*{
  margin-top: 10px;
}
.container
{
  border: 1px solid black;
}
.progressbar
{
  height:15px;
  background-color:rgb(216, 210, 210);
}
.insprogressbar
{
  height:15px;
  background-color: rgb(179, 179, 242);
}

